html, body{
  margin: 0;
  background-color:rgb(3, 84, 164);
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
}

.gh-icon{
  margin-bottom: 1em;
}

.gh-link{
  text-decoration: none;
  color: inherit;
  color: rgba(255, 255, 255, 0.9);
  width: 80;
  height: 110;
  margin-bottom: 20px;
}

.gh-link img{ 
  opacity: 0.9;
  width: 60px;
  margin: 2.5px;
}

.gh-link:hover{
  color: rgb(255, 255, 255);
  opacity: 1;
}

.gh-link img:hover{ 
  width: 65px;
  margin: 0px;
  opacity: 1;
}

ul {
  margin-left: 20px;
  padding-left: 0px;
 }

 li{
  margin-bottom: 5px;
 }

h1{
  text-align: center;
}

.box {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  flex-flow: column;
  height: 100%;
  gap: 10px; 
}

.big-border{
  border: solid;
  border-width: 2px;
  border-color: rgba(255, 254, 254, 0.65)
}

.main-simulation{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px
}

.info{
  padding: 10px 25px 25px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
  align-items: center;
}

.info-box{
  max-width: 600px;
  min-width: 100px;
}

.about{
text-align: center;
margin-top: 25px;
}

@media only screen and (min-width: 1024px) {
  .main-simulation {
    flex-direction: row;
  }

  .info {
    flex-direction: row;
  }

  .info-box{
    max-width: 400px;
  }
}

.canvas-element{
  flex-basis: 70%;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  align-items: center;
  border: solid;
  border-width: 2px;
  border-color: rgba(255, 254, 254, 0.3)
}

.options-element{
  border: solid;
  border-width: 2px;
  border-color: rgba(255, 254, 254, 0.30);
  flex-basis: 28%;
}

#main-canvas{
    width: 100%;
    aspect-ratio: 16 / 9;
    /*background-color: rgb(0, 0, 0);*/
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: rgba(255, 254, 254, 0.3); /* Grey background */
  outline: none; /* Remove outline */
}

::-webkit-slider-runnable-track {
  background: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #d3d3d3; /* Green background */
  border-radius: 2.5px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 5px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #d3d3d3; /* Green background */
  border-radius: 5px;
  border-color: none; 
  cursor: pointer; /* Cursor on hover */
}

